<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../assets/UTlogo.jpg" alt="..." width="100%"></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">WHAT STARTS HERE CHANGES THE WORLD</h1>
            <p>We Do High-Impact Research<br>
                We’re Transforming Health Care<br>
                We Create a More Vibrant Texas
                </p>
            <a class="btn btn-primary" href="https://www.utexas.edu/">Explore Details</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0" style="font-size: xx-large">BE A LEADER. BE A LONGHORN.</p></div>
    </div>
</div>

<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Do High-Impact Research</h2>
                <p class="card-text">At Texas, we’re contributing to technological revolutions and a safer and healthier future. Here, our faculty and students are working to find energy solutions, to increase national security, and to deepen our sense of history and culture.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.utexas.edu/high-impact-research">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Transforming Health Care</h2>
                <p class="card-text">Health care costs too much and moves too slowly. We’re attacking these and other problems with the urgency they deserve. Whether you’re in medicine, engineering, business or design, you can be part of the solution.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.utexas.edu/transforming-health-care">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Create a More Vibrant Texas</h2>
                <p class="card-text">UT was built by and for the people of Texas to make this a more vibrant state culturally, scientifically and economically. When you place that in America’s No. 1 city to live, you have The University of Texas at Austin.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.utexas.edu/creating-more-vibrant-texas">More Info</a></div>
        </div>
    </div>
    <div class="card text-white my-5 py-4 text-center">
        <div class="center">
            <video width="320" height="240" controls style="align-content: center">
                <source src="../assets/Video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="card-body" id="youtube">
        <p class="text-white m-0" style="font-size: x-large; text-align: center">
            <a href="https://www.youtube.com/channel/UCCLiPoSjzG1PVWyRtq0G3Fw"><img class="img-fluid rounded mb-4 mb-lgh-0" src="../assets/YouTube.png" width="150px" height="150px"></a>
        </p>
        <br>
        <h4>Check Out Our YouTube Channel for Interesting Life at UT Austin</h4>
    </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; The University of Texas at Austin 2021</p></div>
</footer>