<!--//Angular Components-->
<!-- <h1>Hello! Welcome</h1>
<app-textcomponent></app-textcomponent>
<app-imagecomponent></app-imagecomponent> -->

<!--//Dependency Injection-->
<h1>Employee Details</h1>
<img src="assets/Logo.png" alt="" style="height: 250px; width: 250px" class="center">
<br>
<app-emp-info></app-emp-info>

<!--//Data Binding-->
<!--/String Interpolation {{}}-->
<!-- <h1>Welcome to {{name}}</h1>
<h2>Welcome to the {{topic}} Tutorial</h2> -->
<!--/Property Binding []-->
<!-- <img [src]="image" alt="" style="height: 250px; width: 250px" class="center">
<br> -->
<!--/Event Binding () -->
<!-- <div style="text-align: center">
    <button (click)="onClick()">Subscribe to UT</button>
    <br>
    <br>
    <input [(ngModel)] = "value" type="text">
    <br>
    {{value}}
</div> -->

<!--//Angular ngSwitch-->
<!-- <app-newcomp></app-newcomp> -->

<!--//Building Angular Forms-->
<!-- <img src="assets/Logo.png" alt="" style="height: 250px; width: 250px" class="center">
<app-form-component></app-form-component> -->

<!--//Angular Bootstrap-->
<!-- <app-navbar></app-navbar>
<app-intro></app-intro>
<app-courses></app-courses>
<app-footer></app-footer> -->

<!--//Angular Routing-->
<!-- <app-navibar></app-navibar>
<router-outlet></router-outlet> -->

<!--//Angular Pipes-->
<!-- <app-pipes></app-pipes>
<h1 style="text-align: left;">The reverse of simplilearn is {{"simplilearn" | custompipe}}</h1> -->